<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta name="description" content="descrip">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/ico/favicon.ico" type="image/vnd.microsoft.icon">
    <title>Админка. Новый матч</title>
</head>

<body>
<div class="page">

    <header th:insert="fragments/header-admin :: header"></header>

    <main>
        <div class="admin">
            <div class="container container--md"><strong class="title title--md section-title">Добавление нового матча</strong>
                <form class="form admin__form" th:method="POST" th:action="@{/admin/matches/new}" th:object="${match}">
                    <div class="form__inputs">

                        <div class="form__control">
                            <div class="form__label">Дата и время</div>
                            <label for="dateAndTime"></label><input th:field="*{dateAndTime}" id="dateAndTime"
                                                                    class="form-control" type="datetime-local"
                                                                    max="2050-12-31T23:59">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('dateAndTime')}"
                                 th:errors="*{dateAndTime}"></div>
                        </div>

                        <div class="form__control">
                            <div class="form__label">Стадия</div>
                            <select id="stageId" name="stageId" class="form-select">
                                <option value = "NONE" selected="">Выберите стадию</option>
                                <option
                                    th:each="stage : ${stagesList}"
                                    th:value="${stage.id}"
                                    th:text="${stage.name}">
                                </option>
                            </select>
                        </div>

                        <div class="form__control">
                            <div class="form__label">Раунд</div>
                            <select id="round" name="round" class="form-select">
                                <option value = "NONE" selected="">Выберите раунд</option>
                                <option
                                    th:each="round : ${roundsList}"
                                    th:value="${round.id}"
                                    th:text="${round.name}">
                                </option>
                            </select>
                        </div>

                        <div class="form__row">
                            <div class="form__control col-6">
                                <div class="form__label">Команда-хозяин</div>
                                <select id="homeTeamId" name="homeTeamId" class="form-select">
                                    <option value = "NONE" selected="">Выберите команду</option>
                                    <option
                                        th:each="team : ${teamsList}"
                                        th:value="${team.id}"
                                        th:text="${team.name}">
                                    </option>
                                </select>
                            </div>

                            <label class="form__control col-6">
                                <div class="form__label">Голы команды-хозяина</div>
                                <div class="form__control">
                                    <input class="form-control" type="number"  th:field="*{scoreHomeTeam}" id="scoreHomeTeam">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('scoreHomeTeam')}" th:errors="*{scoreHomeTeam}"/>
                                </div>
                            </label>
                        </div>

                        <div class="form__row">
                            <div class="form__control col-6">
                                <div class="form__label">Команда-гость</div>
                                <select id="awayTeamId" name="awayTeamId" class="form-select">
                                    <option value = "NONE" selected="">Выберите команду</option>
                                    <option
                                        th:each="team : ${teamsList}"
                                        th:value="${team.id}"
                                        th:text="${team.name}">
                                    </option>
                                </select>
                            </div>

                            <label class="form__control col-6">
                                <div type="text" class="form__label">Голы команды-гостя</div>
                                <div class="form__control">
                                    <input class="form-control" type="number"  th:field="*{scoreAwayTeam}" id="scoreAwayTeam">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('scoreAwayTeam')}" th:errors="*{scoreAwayTeam}"/>
                                </div>
                            </label>
                        </div>

                        <div class="form__control">
                            <label class="form-check form__checkbox">
                                <input id="isFinished" name="isFinished" th:checked="*{isFinished}" class="form-check-input" type="checkbox" value=""><span class="form-check-label">Матч завершён</span>
                            </label>
                        </div>

                        <div class="form__control">
                            <label class="form-check form__checkbox">
                                <input id="isExtraTime" name="isExtraTime" th:checked="*{isExtraTime}" class="form-check-input overtime-checkbox" type="checkbox" value=""><span class="form-check-label">Экстра-тайм</span>
                            </label>
                        </div>

                        <div class="form__control">
                            <label class="form-check form__checkbox">
                                <input id="isPenalty" name="isPenalty" th:checked="*{isPenalty}" class="form-check-input js_relative-checkbox" type="checkbox" value=""  data-requires=".overtime-checkbox"><span class="form-check-label">Пенальти</span>
                            </label>
                        </div>

                    </div>
                    <button class="button button--primary form__submit" type="submit">Создать</button>
                </form>
            </div>
        </div>
    </main>

    <footer th:insert="fragments/footer :: footer"></footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>