<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
</head>

<body>

<header th:insert="fragments/header :: header"></header>

<h4 style="margin-left: 100px">
    Users
</h4>


<br>
<br>

<table class="table table-hover" style="width:100%">
    <thead>
    <tr>
        <th scope="col" style="text-align:center">Name</th>
        <th scope="col" style="text-align:center">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <div th:each="user : ${users}">

        <tr>
            <td style="text-align:center; width:20%"><a th:text="${user.getUsername}">user</a></td>
            <td style="text-align:center; width:20%"><a th:text="${user.getRole()}">user</a></td>
            <td style="text-align:right; width:30%"><a th:href="@{/users/{username}/edit(username=${user.getUsername()})}">Edit</a></td>
            <td style="text-align:left; width:30%"><a th:href="@{/users/{username}/delete(username=${user.getUsername()})}">Delete TBA</a></td>
        </tr>

    </div>

    </tbody>
</table>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>




