<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
    <style> .footer {position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;}</style>
</head>

<body>

<header th:insert="fragments/headerAdmin :: header"></header>

<div class="container mt-5">

<form th:method="POST" th:action="@{/users/{username}/edit(username=${user.getUsername()})}" th:object="${user}">

    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

    <br>
    <br>


        <div class="form-group required-control">
        <label for="role">Role: </label>
        <select id="role" name="role">
            <option
                    th:each="role : ${allRoles}"
                    th:value="${role.name()}"
                    th:text="${role.name()}"
                    th:selected="${role.name()}">
            </option>
        </select>
        </div>

    <br>
    <br>

    <input type="submit" value="Save changes!"/>

</form>

</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>




