<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Tables - whole tournament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <!--    <style> .footer {position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;}</style>-->
</head>

<body>

<header>
    <div sec:authorize="!isAuthenticated()" th:insert="fragments/headerAnonimus :: header"></div>

    <div sec:authorize="hasRole('ROLE_USER')" th:insert="fragments/headerUser :: header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments/headerAdmin :: header"></div>
</header>

<h5 style="margin-left: 100px">
    Таблицы и статистика
</h5>

<br>

<a href="/tables" style="margin-left: 50px">Общая таблица </a>
<a href="/tables/first_round" style="margin-left: 50px">Первый раунд </a>
<a href="/tables/second_round" style="margin-left: 50px">Второй раунд </a>
<a href="/tables/third_round" style="margin-left: 50px">Третий раунд </a>
<a href="/tables/knockout_stage" style="margin-left: 50px">Нокаут-стадия </a>
<a style="margin-left: 50px">Весь турнир </a>

<br><br>

<div>

    <table class="table table-striped table-bordered table-hover data-table dataTable sortable" style="width:100%; display: block;overflow-x: auto;"
           id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">

        <thead>

        <tr role="row">
            <th rowspan="2" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="min-width: 50px;text-align: right;">
            </th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="width: 200px;text-align: center;">Игроки</th>

            <th rowspan="2" class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"  id="total-points"
                aria-label="Total points: сортировать по возрастанию" aria-sort="descending" style="width:55px;text-align: center;">Всего очков</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Число попаданий на точный счёт</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Число попаданий на результат матча</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Команда-победитель</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Дополнительные очки</th>

            <div th:each="matchView : ${matchViews}">
                <th colspan="2" rowspan="1" style="text-align: center;">
                    <a th:text="${matchView.getHomeTeam() + ' : ' + matchView.getAwayTeam()}"></a>
                    <br>
                    <a style="text-align: center;"
                       th:if="${(matchView.getMatch().isFinished() == true)}"
                       th:text="${matchView.getMatch().getScoreHomeTeam() + ' : ' + matchView.getMatch().getScoreAwayTeam() +
                                    ' ' + matchView.isExtraTime() + ' ' + matchView.isPenalty()}"></a>
                    <a style="text-align: center;"
                       th:if="${(matchView.getMatch().isFinished() == false)}"
                       th:text="${' TBA '}"></a>
                </th>
            </div>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label="Total points: сортировать по возрастанию" style="width:55px;text-align: center;">Всего очков</th>
            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="width: 200px;text-align: center;">Игроки</th>
        </tr>

        <tr role="row">
            <div th:each="matchView : ${matchViews}">
                <td data-orderable="false" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Bet"
                    style="min-width:65px;text-align: center;">Ставка</td>
                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    aria-label="Points: сортировать по возрастанию" style="min-width:65px;text-align: center;">Очки</th>
            </div>
        </tr>

        </thead>

        <tbody>


        <div th:each="tableRow, iStat : ${tableRows}">
            <tr style="text-align: center;">
                <td></td>
                <td th:text="${tableRow.getUser().getUsername()}"></td>
                <td th:text="${tableRow.getTotalPointsForThisRound()}"></td>
                <td th:text="${numberOfHitsOnTheCorrectScore.get(iStat.index)}"></td>
                <td th:text="${numberOfHitsOnTheMatchResult.get(iStat.index)}"></td>
                <td th:text="${winningTeams.get(iStat.index)}"></td>
                <td th:text="${extraPoints.get(iStat.index)}"></td>

                <div th:each="betView : ${tableRow.getBetsViews()}">
                    <div th:if="${(betView != null)}">
                        <td th:if="${betView.isMatchStarted() == true}"
                            th:text="${betView.getBet().getScoreHomeTeam() + ' : ' + betView.getBet().getScoreAwayTeam() + ' ' +
                                              betView.isExtraTime() + ' ' + betView.isPenalty()}"/>
                        <td th:if="${betView.isMatchStarted() == false}"></td>

                        <td th:if="${(betView.isMatchFinished() == true)}"
                            th:text="${betView.getBet().getPoints()}"></td>
                        <td th:if="${(betView.isMatchFinished() == false)}"></td>
                    </div>
                    <div th:if="${(betView == null)}">
                        <td></td>
                        <td></td>
                    </div>
                </div>

                <td th:text="${tableRow.getTotalPointsForThisRound()}"></td>
                <td th:text="${tableRow.getUser().getUsername()}"></td>
            </tr>
        </div>

        </tbody>
    </table>




</div>


<footer th:insert="fragments/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>

<script>
    window.addEventListener('load', function () {
        const el = document.getElementById('total-points')
        // without id:
        // const el = document.querySelector('.sortable th:first-child')
        // const el = document.querySelector('.sortable th:nth-child(2)')
        // const el = document.querySelectorAll('.sortable')[3].querySelector('th:nth-child(7)')
        // etc.
        if (el) {
            el.click()
        }

        var table = document.getElementsByTagName('table')[0],
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

        for (var i = 1, len = rows.length; i < len; i++) {
            rows[i].children[0][text] = i - 1;
        }

    })
</script>

</body>

</html>




