<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__top"><a class="logo footer__logo" href="/">Euro 2024</a>
                    <nav class="footer__nav">
                        <ul class="list-reset footer__nav-list">
                            <li class="footer__nav-item"><a class="footer__nav-link" href="/fixtures">Матчи и
                                результаты</a>
                            </li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="/tables">Таблицы и
                                статистика</a>
                            </li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="/winning-team">Команда-победитель</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__bot">
                    <p class="footer__copyright">&copy; 2024 PRAS</p>
                </div>
            </div>
        </div>
    </footer>
</div>
