<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Bet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
    <style> .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }</style>
</head>

<body>

<header>
    <div sec:authorize="!isAuthenticated()" th:insert="fragments/headerAnonimus :: header"></div>

    <div sec:authorize="hasRole('ROLE_USER')" th:insert="fragments/headerUser :: header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments/headerAdmin :: header"></div>
</header>

<h4 style="margin-left: 100px">
    Bet
</h4>

<div class="container mt-5">


    <form th:method="POST" th:action="@{/bet}" th:object="${match}">

        <!--    <a sec:authentication="name"></a>-->

        <!--    <input type="submit" value="Make bet!"/>-->


        <label th:text="${homeTeam}"></label>
        <br>
        <label th:text="${awayTeam}"></label>

    </form>

</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>





