<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>World Cup Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <style> .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }</style>

</head>
<body>


<header>
    <div sec:authorize="!isAuthenticated()" th:insert="fragments/headerAnonimus :: header"></div>

    <div sec:authorize="hasRole('ROLE_USER')" th:insert="fragments/headerUser :: header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments/headerAdmin :: header"></div>
</header>


<div class="container mt-5">

    <a>
        Официальный сайт турнира
        <a href="https://ru.uefa.com/euro2024/" target="_blank"
           style="margin-left: 30px">Ссылка</a>
    </a>

    <br><br>

    <a>
        Сетка турнира
        <a href="https://ru.uefa.com/euro2024/fixtures-results/bracket/" target="_blank"
           style="margin-left: 30px">Ссылка</a>
    </a>

    <br><br>

    <a>
        Правила ставок <a href="/rules"
                          style="margin-left: 30px">Ссылка</a>
    </a>

    <br><br>

    <a>
        Корзины команд <a href="https://ru.uefa.com/euro2024/news/0287-1983d622436d-90150f2e0fb7-1000--%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D1%8B/" target="_blank"
                          style="margin-left: 30px">Ссылка</a>
    </a>

</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>