<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
</head>
<body>

<header th:insert="fragments/header :: header"></header>



<a>
    <a href="/registration" style="margin-left: 30px">Registration</a>
</a>

<br><br>

<a>
    <a href="/login" style="margin-left: 30px">Log in</a>
</a>

<br><br>

<form th:action="@{/logout}" th:method="POST" style="margin-left: 30px">
    <input type="submit" value="Logout" />
</form>

<br><br>

<a>
    Link to the official site of the tournament or link to the site with the tournament grid.
    <a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022" style="margin-left: 30px">Link</a>
</a>

<br><br>

<a>
    Fixtures - games to be played.
    You can make or change your bet until the game has started.
    Results - results of finished matches.
</a>

<br><br>

<a>
    Tables of players - points scored by players and other statistics.
</a>

<br><br>

<a>
    Betting rules.
</a>

<br><br>

<a>
    Player name
    Sign in
    Log in
</a>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>