<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <style> .footer {position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;}</style>
</head>

<body>

<header>
    <div sec:authorize="!isAuthenticated()" th:insert="fragments/headerAnonimus :: header"></div>

    <div sec:authorize="hasRole('ROLE_USER')" th:insert="fragments/headerUser :: header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments/headerAdmin :: header"></div>
</header>

<div class="container mt-5">

<h4 style="margin-left: 100px">
    Rules
</h4>

<p>Правілы</p>
<p>Гулец выстаўляе рэзультат гульні ў фармаце x:y (x - галы каманды-гаспадара і y - галы камандыгосця).</p>
<p>Ацэнка балаў адбываецца наступным чынам:</p>
<p>1) Здагадванне поўнага рэзультата: 5 балаў.</p>
<p>2) Памылка ў 1 гол ад поўнага рэзультата: 4 балы</p>
<p>3) Памылка ў 2 галы ад поўнага рэзультата: 3 балы</p>
<p>4) Правільны вынік гульні, але памылка больш, чым у 2 галы ад поўнага выніка: 2 балы.</p>
<p>5) Неправільны вынік гульні, але здагаданае колькасць галоў адной з каманд: 1 бал</p>
<p>6) Адваротны вынік: 1 бал.</p>
<p>Нюансы:</p>
<p>7) У выпадку пастаўленнай нічыі розніца галоў скарачаецца ў 2 разы.</p>
<p>8) У фінальнай стадыі на гульню можна ставіць з улікам дадатковага часу (+) і пенальці (++). За</p>
<p>здагаданны першы дадаецца 5 балаў, за здагаданны другі - 10. У выпадку пастаўленнага</p>
<p>пенальці ці дадатковага часу, калі адпаведная падзея не адбылася, колькасць балаў</p>
<p>максімальных балаў скарачаецца на 2 і 3 адпаведна (але не можа быць менш за 0).</p>
<p>9) Да кожнай стаўцы прымяняецца множнік, які вылічваецца з пазіцый каманд у рэйтынгу УЕФА</p>
<p>(ад 4 да 1). Калі перамагла каманда з ніжэйшым узроўнем, то агульная колькасць ачкоў</p>
<p>памнажаецца на (1.3, 1.5, 2 - адпаведна розніцы ў рэйтынгу ў 1, 2, 3), калі стаўка зробленая на</p>
<p>гэтую каманду. У выпадку адгаданай нічыі рэзультат памнажаецца на 1.3.</p>
<p>Прыклады:</p>
<p>1) Польшча (рэйтынг 2) 4:2 Вугоршчына (рэйтынг 3)</p>
<p>гулец паставіў:</p>
<p>а) 4:2 - 5*1.3 = 6.5</p>
<p>б) 4:0 або 3:1 - 3*1.3 = 3.9</p>
<p>в) 1:0 або 5:0 - 2*1.3 = 2.6</p>
<p>г) 1:2 або 4:5 - 1*1.3 = 1.3 або 1</p>
<p>д) 4:2+ - (5-2)*1.3 = 3.9</p>
<p>е) 4:2++ - (5-3)*1.3 = 2.6</p>
<p>ж) 2:2 - 1</p>
<p>2) Польшча (рэйтынг 2) 4:2+ Вугоршчына (рэйтынг 3)</p>
<p>а - г) - аналагічна пункту 1.</p>
<p>д) 4:2+ - (5+5)*1.3 = 13</p>
<p>е) 4:2++ - (5+5-3)*1.3 = 10.4</p>
<p>ж) 2:2 - 1</p>
<p>3) Польшча (рэйтынг 2) 1:1 Вугоршчына (рэйтынг 3)</p>
<p>а) 4:2 - 0</p>
<p>б) 4:1 - 1</p>
<p>в) 1:1 - 5*1.3 = 6.5</p>
<p>г) 2:2 або 0:0 - 4*1.3 = 5.2</p>

</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>





