<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
    <div sec:authorize="!isAuthenticated()" th:insert="fragments/headerAnonimus :: header"></div>

    <div sec:authorize="hasRole('ROLE_USER')" th:insert="fragments/headerUser :: header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments/headerAdmin :: header"></div>
</header>

<h5 style="margin-left: 100px">
    Tables and statistics
</h5>

<br>

<a style="margin-left: 50px">General table </a>
<a href="/tables/first_round" style="margin-left: 50px">First round </a>
<a href="/tables/second_round" style="margin-left: 50px">Second round </a>
<a href="/tables/third_round" style="margin-left: 50px">Third round </a>
<a href="/tables/knockout_stage" style="margin-left: 50px">Knockout stage </a>
<a href="/tables/whole_tournament" style="margin-left: 50px">Whole tournament </a>

<br><br>

<div>

    <table class="table table-striped table-bordered table-hover data-table dataTable" style="width:100%" id="DataTables_Table_0"
           role="grid" aria-describedby="DataTables_Table_0_info">

        <thead>

        <tr role="row">
            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="width: 200px;text-align: center;">Players</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Average position in the rankings</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Points for the first round</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Points for the second round</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Points for the third round</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Points for the knockout stage</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Total points</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Number of hits on the correct score</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Number of hits on the match winner</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Winning team</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="text-align: center;">Extra points</th>

            <th rowspan="2" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" colspan="1"
                aria-label=": сортировать по возрастанию" style="width: 200px;text-align: center;">Players</th>
        </tr>

        </thead>

        <tbody>

        <div th:each="user, iStat : ${users}">
            <tr style="text-align: center">
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${positions.get(iStat.index)}"></td>
                <td th:text="${firstRoundTableRows.get(iStat.index).getTotalPointsForThisRound()}"></td>
                <td th:text="${secondRoundTableRows.get(iStat.index).getTotalPointsForThisRound()}"></td>
                <td th:text="${thirdRoundTableRows.get(iStat.index).getTotalPointsForThisRound()}"></td>
                <td th:text="${knockoutRoundTableRows.get(iStat.index).getTotalPointsForThisRound()}"></td>
                <td th:text="${wholeTournamentTableRows.get(iStat.index).getTotalPointsForThisRound()}"></td>
                <td></td>
                <td></td>
                <td th:text="${winningTeams.get(iStat.index)}"></td>
                <td></td>
                <td th:text="${user.getUsername()}"></td>
            </tr>
        </div>

        </tbody>
    </table>

</div>

</body>

</html>




