<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
</head>

<body>

<header th:insert="fragments/header :: header"></header>

<a>
    Tables of players - points scored by players and other statistics.
</a>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>




