<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
</head>

<body>

<header th:insert="fragments/header :: header"></header>

<h4 style="margin-left: 40px">
    Teams
</h4>

<br>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Basket</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <div th:each="team : ${teams}">

        <tr>
            <td><a th:text="${team.getName()}">team</a></td>
            <td><a th:text="${team.getBasket()}">team</a></td>
            <td><a href="/teams">Edit</a></td>
            <td><a href="/teams">Delete</a></td>
        </tr>

    </div>

    </tbody>
</table>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>





