<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Winning team setting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <style> .footer {position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;}</style>
</head>

<body>

<header th:insert="fragments/headerAdmin :: header"></header>

<div class="container mt-5" style="margin-left: 100px">

    <form th:method="POST" th:action="@{/winning_team_setting}" th:object="${extraPoints}">

        <h5>Everybody can make their bets on winning team until: </h5>
        <label for="dateAndTime">Enter date and time: </label>
        <input type="text" th:field="*{dateAndTime}" id="dateAndTime" placeholder="00.00.0000 00:00"/>
        <div style="color:red" th:if="${#fields.hasErrors('dateAndTime')}" th:errors="*{dateAndTime}">dateAndTime Error</div>

        <br><br>

        <h5>Which team won this tournament?</h5>
        <label for="winningTeamId"></label>
        <select id="winningTeamId" name="winningTeamId" style="width: 330px">
            <option value = "0" label = "Select team"></option>
            <option
                    th:each="team : ${teamsList}"
                    th:value="${team.getId()}"
                    th:text="${team.getName()}"
                    th:selected="${team.getId() == extraPoints.getWinningTeamId()}">
            </option>
        </select>

        <br><br>

        <h5>Which team took second place?</h5>
        <label for="secondPlaceTeamId"></label>
        <select id="secondPlaceTeamId" name="secondPlaceTeamId" style="width: 330px">
            <option value = "0" label = "Select team"></option>
            <option
                    th:each="team : ${teamsList}"
                    th:value="${team.getId()}"
                    th:text="${team.getName()}"
                    th:selected="${team.getId() == extraPoints.getSecondPlaceTeamId()}">
            </option>
        </select>

        <br><br>

        <input type="submit" value="Save!"/>

    </form>

</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>





