<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Winning team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <style> .footer {position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;}</style>
</head>

<body>

<header>
    <div sec:authorize="!isAuthenticated()" th:insert="fragments/headerAnonimus :: header"></div>

    <div sec:authorize="hasRole('ROLE_USER')" th:insert="fragments/headerUser :: header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')" th:insert="fragments/headerAdmin :: header"></div>
</header>

<div class="container mt-5" style="margin-left: 100px">

    <form th:method="POST" th:action="@{/winning_team}">

        <div th:if="${isPredictAvailable == true}">

            <a>You can make your bet until </a>
            <a th:text="${dateAndTime}"></a>

            <br><br><br>

            <h5>What team will win this tournament?</h5>

            <label for="winningTeamId"></label>
            <select id="winningTeamId" name="winningTeamId" style="width: 330px">
                <option value="0" label="Select team"></option>
                <option
                        th:each="team : ${teams}"
                        th:value="${team.getId()}"
                        th:text="${team.getName()}"
                        th:selected="${team.getId() == winningTeamIdByUser}"
                        th:object="${team.getId()}">
                </option>
            </select>

            <br><br>

            <input type="submit" value="Make bet!"/>
        </div>


        <div th:if="${isPredictAvailable == false}">

            <h6>Betting on the winning team of the tournament is closed <a th:text="${dateAndTime}"></a>.</h6>
            <br>
            <h6 th:if="${isWinningTeamNameByUserSet == true}">You are betting on <a th:text="${winningTeamNameByUser}"></a>.</h6>
            <h6 th:if="${isWinningTeamNameByUserSet == false}">Unfortunately, you didn't choose anyone.</h6>


        </div>

    </form>

</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>
