<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <style> .footer {position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;}</style>
</head>

<body>

<header th:insert="fragments/headerAdmin :: header"></header>

<h4 style="margin-left: 100px">
    Teams
</h4>

<br>

<a href="/teams/new" style="margin-left: 100px">Add new team</a>

<br>
<br>

<table class="table table-hover" style="width:100%">
    <thead>
    <tr>
        <th scope="col" style="text-align:center">Name</th>
        <th scope="col" style="text-align:center">Pot</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <div th:each="team : ${teams}">

        <tr>
            <td style="text-align:center; width:20%"><a th:text="${team.getName()}">team</a></td>
            <td style="text-align:center; width:20%"><a th:text="${team.getPot()}">team</a></td>
            <td style="text-align:right; width:30%"><a th:href="@{/teams/{id}/edit(id=${team.getId()})}">Edit</a></td>
            <td style="text-align:left; width:30%"><a th:href="@{/teams/{id}/delete(id=${team.getId()})}">Delete</a></td>
        </tr>

    </div>

    </tbody>
</table>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>




