<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
</head>

<body>

<header th:insert="fragments/header :: header"></header>

    <form th:method="POST" th:action="@{/teams}" th:object="${team}">

        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

        <br>

        <label for="basket">Enter basket: </label>
        <input type="text" th:field="*{basket}" id="basket"/>
        <div style="color:red" th:if="${#fields.hasErrors('basket')}" th:errors="*{basket}">Basket Error</div>

        <br/>

        <input type="submit" value="Create!"/>

    </form>

<footer th:insert="fragments/footer :: footer"></footer>

</body>

</html>