<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="header">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" style="color:white;">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">World cup</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="text-align: center" href="/fixtures">Fixtures and results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="text-align: center" href="/tables">Tables and statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" style="text-align: center" href="/winning_team">Winning team</a>
                    </li>

                </ul>
            </div>
            <div class="nav-link active" sec:authorize="isAuthenticated()"><a sec:authentication="name"></a></div>
            <div class="text-end">
                <form th:action="@{/logout}" method="POST" class="btn btn-warning me-4">
                    <input type="submit" value="Log out" class="button_a"/>
                </form>
            </div>
        </div>


    </nav>

</div>