<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header" id="header">
    <div class="header__scroll">
        <div class="container">
            <div class="header__inner">
                <div class="header__mobile"><a class="logo header__logo mobile" href="/">Euro 2024</a>
                    <button class="burger-button js_burger-btn" aria-label="открыть меню"><span></span>
                    </button>
                </div>
                <div class="header__left"><a class="logo header__logo" href="/">Euro 2024</a>
                    <nav class="header__nav">
                        <ul class="list-reset header__nav-list">
                            <li class="header__nav-item"><a class="header__nav-link" href="/fixtures">Матчи и результаты</a>
                            </li>
                            <li class="header__nav-item"><a class="header__nav-link" href="/tables">Таблицы и статистика</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__right"><a class="button" th:href="@{~/login}">Войти</a>
                </div>
            </div>
        </div>
    </div>
</header>